body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.bg-info {
    width: 90%;
}

.text-info {
    height: 20px;
    margin: 10px auto;
    padding: 5px 15px;
    border-radius: 5px;
    color: rgb(0, 0, 150);
    background-color:rgba(0, 0, 255, 0.20);
}

.bg-success {
    width: 90%;
}

.text-success {
    height: 20px;
    margin: 10px auto;
    padding: 5px 15px;
    border-radius: 5px;
    color: rgb(0, 120, 0);
    background-color: rgba(0, 255, 0, 0.2);
}

.bg-warning {
    width: 90%;
}

.text-warning {
    height: 20px;
    margin: 10px auto;
    padding: 5px 15px;
    border-radius: 5px;
    color: rgb(120, 150, 0);
    background-color: rgba(255, 255, 0, 0.2);
}

.bg-error {
    width: 90%;
}

.text-error {
    height: 20px;
    margin: 10px auto;
    padding: 5px 15px;
    border-radius: 5px;
    color: rgb(120, 0, 0);
    background-color: rgba(255, 0, 0, 0.2);
}