
.custom-jumbotron {
    width: 100%;
}

#pageTitle {
    font-size: 25px;
    color: whitesmoke;
    width: 100%;
}

.search-box {
    float: right;
}

.location {
    font-size: 20px;
    padding-left: 5px;
}

.weather-content {
    margin: 5px;
    width: 100%;
}

.weather-card {
    margin: 5px;
    padding: 0px;
    border: skyblue 2px solid;
    background-color: whitesmoke;
}

.date {
    font-size: 15px;
}

.card-header {
    color: whitesmoke;
}

p {
    text-align: left;
    font-size: 14px;
    margin-bottom: 5px;
    padding: 0 2px;
}

.card-title {
    text-align: center;
    padding: 3px 3px;
}

#mapbox {
    width: auto;
    height: 400px;
    padding: 10px;
}
