body {

}

#pageTitle {
    font-size: 30px;
    color: whitesmoke;
    margin-bottom: 5px;
    margin-left: 5px;
}

.search-box {
    float: right;
    padding-right: 5px;
}

.location {
    font-size: 20px;
    padding-left: 5px;
}

.weather-content {
    padding-left: 5px;
}

.weather-card {
    margin: 5px;
    padding: 0px;
    border: skyblue 2px solid;
    background-color: whitesmoke;
}

.date {
    font-size: 15px;
}

.card-header {
    color: whitesmoke;
}

p {
    text-align: left;
    font-size: 14px;
    margin-bottom: 5px;
    padding-left: 3px;
}

.card-title {
    text-align: center;
    padding: 3px 3px;
}

.map-content {
    width: 90%;
    height: 300px;
    padding: 10px;
}